body {
  padding: none;
  margin: none;
  overflow-x: hidden;
}

.grid-body {
  display: flex !important;
  flex-direction: row;
  padding: 12px 16px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.08);
  border-radius: 16px;
}